<?xml version="1.0"?>
<launch>
  <include file="$(find localization_pkg)/launch/map_loader.launch" />
  <node pkg="footstep_planner" type="footstep_planner_node" name="footstep_planner">
    <rosparam file="$(find localization_pkg)/config/footsteps_blenders.yaml" command="load" />
    <rosparam file="$(find localization_pkg)/config/planning_params_blenders.yaml" command="load" />
    <rosparam file="$(find localization_pkg)/config/planning_params.yaml" command="load" />
    <remap from="map" to="projected_map" />
  </node>
</launch>
